*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: black;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: goldenrod;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}


/**header styles**/

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
    background: goldenrod;
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: rgb(61, 60, 59);
}

.header{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;

}

.header .logo{
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;

}

.header .logo span{
    color: goldenrod;
}

.header .nav a{
    font-size: 1.8rem;
    margin: 0 1rem;
    color: black;
    
     
}

.header .nav a:hover{
    color: goldenrod;
}

.header .btn{
    margin-top: 0;

}

.header #login i{
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

#menu-btn{
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.header.active{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem 9%;
}



/* form styles */
.form-container{
    position: fixed;
    top: 105%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.form-container.active{
    top: 0;
    opacity: 1;
}


.form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    background: white;
    border: 0.1rem solid rgba(0,0,0,0.1);
    text-align: center;
    width: 40rem; 
       
}

.form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.form-container form .btn{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.form-container form h3{
    color: black;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.form-container form .box{
    margin: 0.7rem 0;
    width: 100%;
    text-transform: none;
    color: black;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #666;
}

.form-container form p a{
    color: goldenrod;
    text-decoration: underline;
}

.form-container #close-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}

/**
home styles
**/

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 4.5vw;
    text-transform: uppercase;
    color: black;
}

.home img{
    width: 100%;
    margin: 1rem 0;
}



/**icons styles**/

.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: wheat;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.7rem;
}

.icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: wheat;
    color: black;
    text-align: center;
}

.icons-container .icons .content h3{
    color: goldenrod;
    font-size: 2.5rem;

}

.icons-container .icons .content p{
    color: #666;
    font-size: 1.5rem;
}

.icons-container .icons:hover{
    background: black;
}


.icons-container .icons:hover i{
    background: goldenrod;
}

.icons-container .icons:hover .content h3{
    color: white;
}

.icons-container .icons:hover .content p{
    color: #666;
} 



/**slider styles**/

.goods .goods-slider{
   padding-bottom: 5rem;

}

.goods .goods-slider .box{
    text-align: center;
    
}

.goods .goods-slider .box img{
    width: 100%; 
    opacity: 0.5;
    transform: scale(0.8); 
}

.goods .goods-slider .box .content{
    transform: scale(0); 
    padding-top: 1rem;
}

.goods .goods-slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
}

.goods .goods-slider .swiper-slide-active .content{
    transform: scale(1);
}

.goods .goods-slider .box .content h3{
    font-size: 2.5rem;
    color: black;
}

.goods .goods-slider .box .content .price{
    font-size: 2.5rem;
    color: goldenrod;
    padding: 1rem 0;
    font-weight: bolder;
}

.goods .goods-slider .box .content .price span{
    font-size: 1.7rem;
    color: #666;
    font-weight: normal;
}

.goods .goods-slider .box .content P{
    font-size: 1.6rem;
    padding: 1rem;
    padding-top: 1.5rem;
    color: #666;
    border-top: 0.1rem solid rgba(0,0,0,0.1);
}

.goods .goods-slider .box .content p span{
    color: orangered; /* might change this color */
    font-size: 0.8rem;
    padding: 0 0.5;
}

.swiper-pagination-bullet-active{
    background: goldenrod;
}




/* sevices styles */

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));  
   gap: 1.5rem;
}

.services .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: 0.1rem solid rgba(0,0,0,0.1);
}

.services .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: black;
    background: goldenrod;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services .box-container .box h3{
    color: black;
    font-size: 2.4rem;
}

.services .box-container .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.services .box-container .box:hover{
    background: black;
}

.services .box-container .box:hover h3{
    background: white;
}

.services .box-container .box:hover p{
    background: #eee;
}



/**Featured styles**/

.featured .featured-slider{
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box{
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.8rem;
}

.featured .featured-slider .box img{
    height: 15rem;

}

.featured .featured-slider .box:hover img{
    transform: scale(0.9);
    
}

.featured .featured-slider .box h3{
    font-size: 2.3rem;
    color: black;
    
}

.featured .featured-slider .box .stars{
    padding: 1rem 0;
} 

.featured .featured-slider .box .stars i{
  font-size: 1.8rem;
  color: orangered;  
}

.featured .featured-slider .box .price{
    font-size: 2.5rem;
    color: black;
}



/**News Letter styles**/


.newsletter{
    padding: 6rem 2rem;
    text-align: center;
    background: url(images/logo1.jpg);
    opacity: 0.4;
    background-position: center;
    background-size: cover;
}

.newsletter h3{
    color: black;
    font-size: 3rem;
}

.newsletter p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.newsletter form{
    margin: 1rem auto;
    max-width: 60rem;
    height: 5rem;
    display: flex;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 5rem;
}


.newsletter form input[type="email"]{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 0 2rem;
}

.newsletter form input[type="submit"]{
    height: 100%;
    width: 16rem;
    font-size: 1.8rem;
    color: black;
    background: orange;
    cursor: pointer;
    
 }

 .newsletter form input[type="submit"]:hover{
    background: orangered;
 }

 .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
 }

 .contact .row .map{
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.6rem;
 }

 .contact .row form{
    flex: 1 1 42rem;
    padding: 2rem;
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.6rem;
    text-align: center;
 }


 .contact .row form h3{
    font-size: 3rem;
    color: black;
 }

 .contact .row form .box{
   margin: 0.7rem 0;
   width: 100%;
   border: 0.1rem solid rgba(0,0,0,0.1);;
   padding: 1.2rem;
   color: black;
   text-transform: none;
   border-radius: 0.6rem; 
 }

 .contact .row form textarea{
    height: 15rem;
    resize: none;
 }


 /* about styles start */
 .section{	
    width: 100%;	
    min-height: 100vh;	
    background-color: whitesmoke;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  .container{	
    width: 80%;	
    display: block;	
    margin:auto;	
    padding-top: 100px;
  }
  
  .content-section{	
    float: left;	
    width: 55%;
  }
  
  
  .image-section{	
    float: right;	
    width: 40%;
  }
  
  .image-section img{	
    width: 100%;	
    height: auto;
    border-radius: 0.7rem;
  }
  
  .content-section .title{	
    text-transform: uppercase;	
    font-size: 28px;
  }
  
  .content-section .content h3{	
    margin-top: 20px;	
    color:#5d5d5d;	
    font-size: 21px;
  }
  
  .content-section .content p{	
    margin-top: 10px;	
    font-family: sans-serif;	
    font-size: 18px;	
    line-height: 1.5;
  }
  
  .content-section .content .skills{
    font-size: 16px;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
  }
  
  .content-section .content .button{	
    margin-top: 30px;
  }
  
  .content-section .content .button a{	
    background-color: goldenrod;	
    padding:12px 40px;	
    text-decoration: none;	
    color:#fff;	
    font-size: 25px;	
    border-radius: 0.7rem;
    letter-spacing: 1.5px;
  }
  
  .content-section .content .button a:hover{	
    background-color: #666;	
    color:#fff;
  }
  
  /* .content-section .social{	
    margin: 40px 40px;
  }
  
  .content-section .social i{	
    color:#a52a2a;	
    font-size: 30px;	
    padding:0px 10px;
  }
  
  .content-section .social i:hover{	
    color:#3d3d3d;
  } */
 /* about styles ends */


 
/* footer styles */


.footer{
    background: wheat;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    color: black;
    font-size: 2.3rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    display: block;
    font-weight: bolder;
}



.footer .box-container .box a i{
    padding-right: 0.5rem;
    color: black;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}





























/**Responsivenes**/



@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;

    }

    .header.active{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }


}




@media(max-width:768px){
    #menu-btn{
       display: block;
    }    

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header #login i{
       display: block; 
    }

    .header #login .btn{
        display: none;

    }

    .header .nav{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: white;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .nav a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

    
    

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
}


